mixin blog_section_title(text, title_class)
	th.rotate
		div(class=title_class)
			span #{text}

mixin blog_section_link(link, image)
	a(href=link).not_mobile
		img.section_icon(src=image)

mixin blog_preview(post)
	a(href='/blog_article/'+post.id)
		div.blog_preview_link
			img(src=post.image.url)
			div.preview_title #{post.title}
			div.content()!=post.content.brief

mixin blog_section(text, link, small, selected)
	- var class_addition = ''
	if small
		- class_addition += 'small '
	if selected == link
		- class_addition += 'selected'
	a(href='/blog_section/'+link)
		div.blog_section(class=link+' '+class_addition) #{text}

mixin article_comment(comment)
	div.comment
		div.date_posted #{moment(comment.created_at).format('MMMM Do[,] YYYY [at] h:mm a')}
		if comment.name
			div.name
				b #{comment.name}:
		div.text #{comment.text}

mixin blog_favorites(posts)
	div.popular_articles.not_mobile
		div.title Popular Articles
		div.articles
			each post in posts
				a(href='/blog_article/'+post.id)
					div.blog_favorites
						img(src=post.image.url)
						div.post_title #{post.title}

mixin blog_submit()
	a(href='/blog/submit').not_mobile
		div.blog_submit Submit Your Article

mixin blog_rss(rss)
	div(id='rss')
			<!-- start feedwind code --><script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script><script type="text/javascript">(function() {var params = {rssmikle_url: "#{rss}",rssmikle_frame_width: "100%",rssmikle_frame_height: "400",frame_height_by_article: "4",rssmikle_target: "_blank",rssmikle_font: "Geneva, Arial, sans-serif",rssmikle_font_size: "12",rssmikle_border: "off",responsive: "off",rssmikle_css_url: "http://52.0.15.47/styles/site.css",text_align: "left",text_align2: "left",corner: "off",scrollbar: "on",autoscroll: "off",scrolldirection: "up",scrollstep: "3",mcspeed: "20",sort: "New",rssmikle_title: "on",rssmikle_title_sentence: "RSS Feed",rssmikle_title_link: "#",rssmikle_title_bgcolor: "#f80108",rssmikle_title_color: "#000000",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#FFFFFF",rssmikle_item_bgimage: "",rssmikle_item_title_length: "55",rssmikle_item_title_color: "#000000",rssmikle_item_border_bottom: "off",rssmikle_item_description: "on",item_link: "off",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#666666",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M:%S %p",item_description_style: "text+tn",item_thumbnail: "full",item_thumbnail_selection: "auto",article_num: "10",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script>