// Left menu list items
mixin home_menu_item(name, number, menu_link)
	div.row.menu_link
		div.col-xs-12
			img.menu_icon(src='images/menu_icons/12.'+number+'.png')
			span.faux_link(class=menu_link) #{name}

mixin side_menu()
	div#left_menu
		div#menu_header #TECHITBACK
		div#search_bar
			input(type='text', name='search_bar')
		+home_menu_item('WELCOME TO OUR HOUR', 1, 'welcome_link')
		+home_menu_item('ABOUT', 2, 'about_link')
		+home_menu_item('BLOG', 3, 'blog_link')
		+home_menu_item('CYBERBULLYING AND ABUSE', 4, 'cyberbullying_link')
		+home_menu_item('TECH ADDICTION', 5, 'tech_addiction_link')
		+home_menu_item('CYBERCRIME NEWS', 6, 'cybercrime_link')
		+home_menu_item('TIPS FOR TEENS', 7, '')
		+home_menu_item('SCHOOLS + PARENTS', 8, '')
		+home_menu_item('CORPORATE PARTNERS', 9, '')
		+home_menu_item('CONTACT US', 11, '')
		a(href='yanng')
			+home_menu_item('YES AND NO NO GIRLS', 12, '')
		div.menu_padding

mixin home_picture(image, text, span_class)
	img.img-responsive(src='images/home/'+image)
	span.textoverlay(class=span_class) #{text}

mixin popup_picture(post, class_link)
	div.popup_picture_box(class=class_link)
		img(src=post.thumbnail)
		div()!=post.title

mixin popup_header(title, image, label, link)
	img#popup_exit(src='images/x.png')
	div.upper_right
		img(src='images/menu_icons/'+image)
		span #{label}
	div(class=link).popup_header
		div #{title}

mixin popup_welcome_header(section)
	img#popup_exit(src='images/x.png')
	div.welcome_upper_left
		img(src=section.image.url)
	div.welcome_label
		div #{section.title}

// Thumbnails for Tech Addiction page
mixin thumbnail_pic4(thumbnail, class_link, title)
	div.col-md-3
		img(src=thumbnail, class='tech_addiction_' + class_link + '_link pointer')
		div.label_text #{title}

// Thumbnails for Online Abuse page
mixin thumbnail_pic_abuse(thumbnail, class_link, title)
	div.col-md-3
		img(src=thumbnail, class=class_link+' pointer')
		div.label_text #{title}

// Thumbnails for About page
mixin thumbnail_pic2(thumbnail, class_link, title)
	div.col-md-6
		img(src=thumbnail, class='about' + class_link + '_link pointer')
		div.label_text #{title}

// Thumbnails for stories page
mixin thumbnail_pic_double(thumbnail, class_link, title)
	div.col-md-6
		img(src=thumbnail, class=class_link)
		div.label_text #{title}

// Different Tech Addiction sections
mixin tech_addiction_section(section_id, left_link, right_link, pic_1, pic_1_link, pic_2, pic_2_link, pic_3, pic_3_link, pic_4, pic_4_link, big_image, main_text)
	div.container-fluid.tech_addiction(id=section_id)
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class=left_link)
			div.col-md-5
				div.row.center_align
					img(src=big_image, class='big_image')
				div.row.thumbnails
					+thumbnail_pic4(pic_1.thumbnail, pic_1_link, pic_1.title)
					+thumbnail_pic4(pic_2.thumbnail, pic_2_link, pic_2.title)
					+thumbnail_pic4(pic_3.thumbnail, pic_3_link, pic_3.title)
					+thumbnail_pic4(pic_4.thumbnail, pic_4_link, pic_4.title)
			div.col-md-5
				div.text_container
					div(class='text')!=main_text
			div.col-md-1
				img.arrow(src='images/right.png', class=right_link)

mixin about_section(section_class, left_link, right_link, pic_1, pic_1_link, pic_2, pic_2_link, big_image, main_text)
	div.container-fluid(class=section_class)
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class=left_link)
			div.col-md-5
				div.row.center_align
					img(src=big_image, class='big_image')
				div.row.thumbnails
					div
						+thumbnail_pic2(pic_1.thumbnail, pic_1_link, pic_1.title)
						+thumbnail_pic2(pic_2.thumbnail, pic_2_link, pic_2.title)
			div.col-md-5
				span(class='text')!=main_text.content.brief
			div.col-md-1
				img.arrow(src='images/right.png', class=right_link)

// Questions
mixin about_question(image_url, pic_1, pic_1_title, pic_2, pic_2_title, all_questions, question_focus)
	div.container-fluid(class="about_section questions about_questions_link")
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class="about_intralink_link")
			div.col-md-4
				div.row.center_align
					img(src=image_url, class='big_image')
				div.row.thumbnails
					div
						+thumbnail_pic2(pic_1.thumbnail, pic_1_title, pic_1.title)
						+thumbnail_pic2(pic_2.thumbnail, pic_2_title, pic_2.title)
			div.col-md-6
				if question_focus
					div.question_focus_screen
					div.question_focus(id=question.key+'_box')
						div.question_focus_title(id=question.key) #{question_focus.title}
						span()!=question_focus.content.brief
				each question in all_questions
					div.row.question_title(id=question.key)=question.title
			div.col-md-1
				img.arrow(src='images/right.png', class='about_link')

// Online abuse
// Different Tech Addiction sections
mixin online_abuse_section(section_id, left_link, right_link, pic_1, pic_1_link, pic_2, pic_2_link, pic_3, pic_3_link, pic_4, pic_4_link, big_image, main_text)
	div.container-fluid.online_abuse_section(class=section_id)
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class=left_link)
			div.col-md-5
				div.row.center_align
					img(src=big_image, class='big_image')
				div.row.thumbnails
					+thumbnail_pic_abuse(pic_1.thumbnail, pic_1_link, pic_1.title)
					+thumbnail_pic_abuse(pic_2.thumbnail, pic_2_link, pic_2.title)
					+thumbnail_pic_abuse(pic_3.thumbnail, pic_3_link, pic_3.title)
					+thumbnail_pic_abuse(pic_4.thumbnail, pic_4_link, pic_4.title)
			div.col-md-5
				div.text_container
					div(class='text')!=main_text
			div.col-md-1
				img.arrow(src='images/right.png', class=right_link)

// Questions
mixin their_story(main, pic_1, pic_1_link, pic_2, pic_2_link)
	div.container-fluid.their_stories_section
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class=pic_1_link)
			div.col-md-5
				div.row.center_align
					img(src=main.image.url, class='big_image')
				div.row.thumbnails
					div
						+thumbnail_pic_double(pic_1.thumbnail, pic_1_link, pic_1.title)
						+thumbnail_pic_double(pic_2.thumbnail, pic_2_link, pic_2.title)
			div.col-md-5
				div.stories_text()!=main.content.brief
			div.col-md-1
				img.arrow(src='images/right.png', class=pic_2_link)

mixin share_story_input_row(text, slug)
	div.form-group.row.first_page_only
		div.col-sm-3
		label(for=slug class='col-sm-3 control-label') #{text}:
		div.col-sm-3
			input(id=slug, name=slug, type='text', class='form-control')
		div.col-sm-3

mixin report_it_input_row(text, slug)
	div.form-group.row
		div.col-sm-2
		label(for=slug class='col-sm-4 control-label') #{text}:
		div.col-sm-3
			input(id=slug, name=slug, type='text', class='form-control')
		div.col-sm-3


// CYBERCRIME MISTAKES
mixin cybercrime_mistake(section_class, left_link, right_link, pic_1, pic_1_link, pic_2, pic_2_link, big_image, main_text)
	div.container-fluid(class=section_class)
		div.row
			div.col-md-1
				img.arrow(src='images/left.png', class=left_link)
			div.col-md-5
				div.row.center_align
					img(src=big_image, class='big_image')
				div.row.thumbnails
					div
						+thumbnail_pic_double(pic_1.thumbnail, pic_1_link, pic_1.title)
						+thumbnail_pic_double(pic_2.thumbnail, pic_2_link, pic_2.title)
			div.col-md-5
				span(class='text')!=main_text.content.brief
			div.col-md-1
				img.arrow(src='images/right.png', class=right_link)

// WELCOME TO OUR HOUR
mixin welcome_button (name, image, position, link)
	div.welcome_button(class=position+" "+link)
		img(src='images/welcome_icons/'+image)
		div.button_label #{name}

mixin welcome_left_button (section)
	div.row.welcome_left_button(class=section.link)
		img(src=section.image.url)
		div.left_button_label #{section.title}

mixin welcome_games_icon (game, selected)
	div.row.welcome_games_icon(class=game.link)
		img(src='images/welcome_icons/5.21.png')
		if game.title == selected.title
			span.selected #{game.title}
		else 
			span #{game.title}
mixin cause_box(cause)
	div.cause_image(class="welcome_causes_"+cause.key+"_link")
		img(src=cause.image.url)

mixin arrow(arrow, link)
	img.arrow(src='images/'+arrow+'.png', class=link)

mixin quiz_link(quiz, bottom)
	- var quiz_class = "quiz_container"
	if bottom
		- quiz_class = "quiz_container bottom"
	div(class=quiz_class)
		a(href=quiz.link target="_blank")
			img(src='images/5.61.png')
		span(id="quiz_"+quiz.key) #{quiz.title}

