mixin popup_picture_v2(post)
	div.popup_picture_box(class=post.key+"-link")
		img(src=post.thumbnail)
		div()!=post.title

mixin thumbnail_pic_five(post)
	div.col-md-2.fifth
		img(src=post.thumbnail, class=post.key+"-link pointer")
		div.label_text #{post.title}	

mixin thumbnail_pic_six(post)
	div.col-md-2.sixth
		img(src=post.thumbnail, class=post.key+"-link pointer")
		div.label_text #{post.title}	

mixin schools_join_input_row(text, slug)
	div.form-group.row
		div.col-sm-3
		label(for=slug class='col-sm-2 control-label') #{text}:
		div.col-sm-4
			input(id=slug, name=slug, type='text', class='form-control')
		div.col-sm-3